.home{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/gpu-background.jpg');
    background-size:cover;
    background-position: 25% 60%;
}

.container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:right;
    button{
        margin-right:20% ;
        animation: rainbow 6s infinite;
        background-color: black;
        color: white;
        border: 1px solid white;
        transition: all 0.6s ease-in-out;
        &:hover{
            background-color: rgb(255, 254, 254);
            color:black;
        }
    }
}


.buttonToShop{
    background-color: rgb(150,150,150);
    font-size: 2rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

@media (max-width: 950px){
    .container{
        flex-direction: column;
        justify-content: end;
    
        button{
            margin-right: 0;
        }
    }
}
@keyframes rainbow {
	from, to { box-shadow: 0 0 12px 0 red }
	16% { box-shadow: 0 0 12px 0  yellow }
	32% { box-shadow: 0 0 12px 0  green }
	48% { box-shadow: 0 0 9px 0  aqua }
	64% { box-shadow: 0 0 12px 0  blue }
	80% { box-shadow: 0 0 12px 0  fuchsia }
}
