.shop{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.categoryList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.productContainer{
    padding-top:100px ;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    height:fit-content ;
    margin: 10px;

    img{
        width: 100%;
    }
}


@media (max-width: 786px){
    .categorySelect{
        margin-left:auto ;
        margin-right: auto;
        padding-top: 100px;
    }
    .shop{
        flex-direction: column;
    }
    .productCard{
        width: 70%;
    }
}